@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&display=swap");

//  =============== Variables =============== //

// Fonts
$primary-font: Barlow;
$secondary-font: Barlow Condensed;

// Colors
$color-primary: #ffffff;
$color-secondary: #e8ab36;
$color-grey: rgba(255, 255, 255, 0.5);
$color-accent: #e6606c;
$color-grayish: #efefef;

// Sizes
$content-width: 1200px;

//  =============== Extends =============== //
%barlow-white {
   font-family: $primary-font;
   color: $color-primary;
}
%btn-common {
   width: 152px;
   height: 43px;
   display: inline-block;
   border-radius: 75px;
   padding: 12px 29px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.63px;
   text-transform: uppercase;
   text-decoration: none;
   font-style: normal;
   font-family: $primary-font;
   cursor: pointer;
}
%links {
   color: $color-grey;
   font-family: $primary-font;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: 3px;
   text-transform: uppercase;
   margin-bottom: 16px;
}
//=============== Mixins ====================
@mixin fine_print {
   font-family: Barlow;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
}

@mixin card_excerpt {
   color: #fff;
   font-family: Barlow Condensed;
   font-size: 24px;
   font-style: normal;
   font-weight: 300;
   line-height: 32px;
}

// Reset
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   background-image: linear-gradient(to right, #201f22, #2c2d65);
   background-repeat: no-repeat;
   font-family: $primary-font;
   overflow-x: hidden;
}

// Common

.d-flex {
   display: flex;
}

.logo {
   font-weight: 800;
   text-transform: uppercase;
   font-size: 32px;
   color: $color-primary;

   span {
      color: $color-accent;
   }
}

section > div {
   width: 50%;
}
.btn-start {
   @extend%btn-common;
   background-color: $color-accent;
   color: $color-primary;
   &:active {
      transform: scale(0.96);
   }
   &:hover {
      box-shadow: 0px 0px 0px 3px $color-accent;
   }
   &::after {
      width: 0%;
   }
}
// Header
header {
   width: 100%;

   .container {
      display: flex;
      height: 100px;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: $content-width;

      nav ul {
         display: inline-flex;
         align-items: flex-start;
         gap: 33px;
         li {
            position: relative;
            padding-bottom: 3px;
            :after {
               position: absolute;
               transition: 0.3s;
               content: "";
               width: 0;
               left: 50%;
               bottom: 0;
               height: 2px;
               background: #f7f7f7;
               right: 0;
               left: auto;
            }
            :hover {
               cursor: pointer;
               &:after {
                  width: 100%;
                  left: 0;
               }
            }
         }
         a {
            color: $color-primary;
         }
      }
   }
}

main {
   width: $content-width;
   margin: 0 auto;

   // Section 1  -TOP
   .main-top {
      .main-top-left {
         display: flex;
         align-items: center;
         margin: 133px 216px 246px 0;
         width: 50%;

         .main-intro {
            position: relative;
            width: 507px;
            height: 324px;
            > * {
               margin-bottom: 21px;
            }
            h1 {
               @extend %barlow-white;
               font-size: 64px;
               font-style: normal;
               font-weight: 300;
               line-height: normal;
               letter-spacing: 2.88px;
               text-transform: uppercase;
            }
            h2 {
               font-family: $primary-font;
               color: $color-secondary;
               font-size: 32px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               letter-spacing: 1.44px;
               text-transform: uppercase;
            }
            p {
               color: $color-grey;
               font-family: $primary-font;
               font-size: 16px;
               font-style: normal;
               font-weight: 300;
               line-height: 32px;
               letter-spacing: 0.72px;
               width: 406px;
            }
            .btn-more {
               @extend%btn-common;
               background-color: $color-grayish;
               &:active {
                  transform: scale(0.96);
               }
               &:hover {
                  box-shadow: 0px 0px 0px 3px $color-grayish;
               }
               &::after {
                  width: 0%;
               }
            }
            .main-buttons {
               display: flex;
               flex-direction: row;
               gap: 24px;
            }

            &::before {
               content: "";
               position: absolute;
               left: -43px;
               top: -47px;
               display: block;
               height: 153px;
               width: 142px;
               background-image: url(images/spiral.png);
            }

            &::after {
               content: "";
               position: absolute;
               right: 44px;
               bottom: -77px;
               display: block;
               height: 184px;
               width: 181px;
               z-index: -1;
               background-image: url(images/dots.png);
            }
         }
      }

      .main-top-right {
         background: url(images/bg-large.png);
         position: absolute;
         width: 730px;
         height: 747px;
         top: -110px;
         right: 33px;
         z-index: -1;

         background-repeat: no-repeat;
      }
   }

   // Section 2  - MIDDLE

   .main-middle {
      .main-middle-right {
         .aside-article {
            position: relative;
            width: 470px;
            height: 499px;
            margin-left: 140px;

            a:first-child {
               @extend%links;
            }
            h1 {
               color: $color-primary;
               font-family: $secondary-font;
               font-size: 56px;
               font-style: normal;
               font-weight: 300;
               line-height: 64px;
               width: 321px;
               height: 128px;
               margin-bottom: 30px;
            }
            h2 {
               @extend %barlow-white;
               font-size: 20px;
               font-style: normal;
               font-weight: 400;
               line-height: 32px;
               margin-bottom: 28px;
            }
            p {
               color: $color-grey;
               @include fine_print;
               margin-bottom: 28px;
            }
            > h2,
            p {
               width: 470px;
            }
            &::before {
               content: "";
               position: absolute;
               right: 28px;
               top: 51px;
               display: block;
               height: 210px;
               width: 210px;
               background-image: url(images/Ellipse\ 1.png);
            }
         }
      }
   }

   // Section 3  - BOTTOM
   .main-bottom {
      > div {
         width: 100%;
      }

      .main-bottom-article {
         position: relative;
         text-align: center;
         width: 100%;
         * {
            margin: 0 auto;
         }
         a {
            @extend%links;
         }

         h1 {
            color: $color-primary;
            font-family: $secondary-font;
            font-size: 56px;
            font-style: normal;
            font-weight: 300;
            line-height: 64px;
            margin-bottom: 30px;
         }
         p {
            color: $color-grey;
            @include fine_print;
            margin-bottom: 28px;
            width: 570px;
            text-align: center;
         }
         &::before {
            content: "";
            position: absolute;
            left: 323px;
            top: -34px;
            display: block;
            height: 153px;
            width: 142px;
            background-image: url(images/spiral.png);
         }
      }

      .main-bottom-cards {
         gap: 30px;

         .card {
            @include card_excerpt;
            border-radius: 12px;
            border: 2px solid rgba(255, 255, 255, 0.08);
            background: linear-gradient(180deg, #4d4f95 0%, #2b2d66 100%);
            box-shadow: 0px 24px 48px 0px rgba(0, 1, 44, 0.16);
            img {
               width: 100%;
            }
            div {
               padding: 38px 32px;
            }
            p {
               margin-bottom: 20px;
            }
            span {
               @include fine_print;
               color: $color-grey;
            }
         }
      }
   }
}
footer {
   width: 100%;
   padding: 113px 221px 76px;

   .container {
      width: 998px;
      margin: 0 auto;

      .footer-top {
         border-bottom: 1px solid rgba(255, 255, 255, 0.08);
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 100px;
         padding-bottom: 30px;

         .title {
            @include fine_print;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $color-grey;
         }
         ul li {
            @include fine_print;
            color: $color-primary;
         }
         .icons-container {
            display: flex;
            gap: 8px;
         }

         .icon {
            position: relative;
            display: flex;
            align-items: center;
            width: 48px;
            height: 48px;
            background: #6357f6;
            border-radius: 50px;

            img {
               height: 16px;
               height: 16px;
               margin: 0 auto;
            }
         }
      }
      .footer-bottom {
         @include fine_print;
         margin-top: 41px;
         span:first-child {
            color: $color-grey;
            flex-grow: 1;
         }
         span:last-child {
            margin-left: 48px;
         }
         span:not(:first-child) {
            color: $color-primary;
         }
      }
   }
}
